@model List<Entities.Bank>
@{
    ViewBag.Title = "Список банков";
}

<h2>@ViewBag.Title</h2>
<br/>
    @Html.ActionLink("Добавить Банк", "AddBank", "Bank")
<br/><br/>
<table >
    <thead>
        <tr>
            <th>Название банка</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <a style="padding:5px" href="@Url.Action("DeleteBank", "Bank", new { @id = @item.Id})">Удалить</a>
                        <a style="padding:5px" href="@Url.Action("EditBank", "Bank", new { @id = @item.Id})">Изменить</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

